cf-on-azure-api:            <cf-on-azure-api-url>
cf-on-azure-username:       <cf-on-azure-username>
cf-on-azure-password:       <cf-on-azure-password>
cf-on-azure-organization:   <cf-on-azure-org-name>
cf-on-azure-space:          <cf-on-azure-space-name>
cf-on-azure-service-name:   <cf-on-azure-service-name>
cf-on-azure-staging-domain: <cf-on-azure-staging-domain>

cf-on-azure-stack-api:            <cf-on-azure-stack-api-url>
cf-on-azure-stack-username:       <cf-on-azure-stack-username>
cf-on-azure-stack-password:       <cf-on-azure-stack-password>
cf-on-azure-stack-organization:   <cf-on-azure-stack-org-name>
cf-on-azure-stack-space:          <cf-on-azure-stack-space-name>
cf-on-azure-stack-service-name:   <cf-on-azure-stack-service-name>
cf-on-azure-stack-staging-domain: <cf-on-azure-stack-staging-domain>

cf-app-name: eshop
cf-app-domain: <cf-domain>
cf-service-instance-name: <cf-service-instance-name>
